.shop-cart {
  /* border: 1px  solid red; */
    width: 20px;
    height: 20px;

  
}
.nav-links-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   max-width: 1200px;
    margin: 20px auto;
}
.logo-flow {
    width: 100px;
    height: auto;
   
   
}
.nav-list{
    /* border: 1px solid blue; */
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;

    gap: 20px;
    text-decoration: none;
    
}
.nav-list a{
    text-decoration: none;
    font-size: 20px;
  
}
.text-color-1 {
     color: #8987A1;
}
.nav-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    font-size: 20px;
   
}
.nav-cart a {
    text-decoration: none;
}


.banner {
    /* border: 1px solid black; */
    display: flex;
    /* width: 1400px; */
    justify-content:space-between;
    height: auto;
    align-items: center;
      max-width: 1200px;
    margin: 20px auto;
  
    margin-bottom: 100px;
    

}
.banner-container {
    /* border: 1px solid red; */
    width: 100%;
}
.banner-img {
    max-width: 100%;
    height: auto;
}
.banner-title {
    font-size: 40px;
    
}
.plants-container {
   /* border: 1px solid black; */
   margin: 0 auto;
   padding: 0 100px;
   
}
.section-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}
.plant-pera {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 125px;
}
.plant-card {
    /* border: 1px solid black; */
  margin: 20px auto;

}
.plants-card-container {
 /* border: 1px solid red; */
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 margin: 20px auto;
 gap: 20px;


}

.plants-card-container img {
    width: 100%;
    height: auto;

}
.btn-primary {
    background-color: #E95A08;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
}
.btn-primary:hover {
    background-color: red;
   
}
.h-class {
    text-align: center;
   margin: 8px auto;

}
.plants-section {
    /* border: 1px solid black; */
       width: 1200px;
    margin: 20px auto;
}
.head {
    font-weight: 300;
    
}

.flower-store-section{
    border: 1px solid red;

    margin: 200px auto;
 
    gap: 100px;
     position: relative;
      width: 1140px;
      height: 597px;
      display: flex;
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
   
}
.plant {
    font-size: 50px;
}

.flower-list {

   list-style-type: disc;
 margin: 20px auto;
  font-size: 26px;
 
}
.text-color-2 {
    color:#6B7280;
}
.flower-div {
  border: 1px solid blueviolet;
}
.flower-img {
  position: relative;
  width: 100%;
  max-width: 570px; /* Or whatever width you want for the image */
}

.trusted-badge {
  position: absolute;
  /* border: 1px solid #E95A08; Border color */
  border-radius: 50%;
  top: 0; 
  right: -2px; /* Adjust this to position the badge */
  /* Adjust this to fine-tune placement */
  transform: translate(50%, -50%);
  width: 300px;
    /* You can adjust size */
  z-index: 10;
}
/* nav-bar responsive */
@media screen and (max-width: 576px){
   
    .nav-list {
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-image {
        width: 100%;
    }
    .banner-container {
        width: 100%;
    }
}
