body {
    padding: 0;
    margin: 0;
}



.shop-cart {
  /* border: 1px  solid red; */
    width: 20px;
    height: 20px;

  
}

.nav-links-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   max-width: 1200px;
    margin: 20px auto;
}
.logo-flow {
    width: 100px;
    height: auto;
   
   
}
.nav-list{
    /* border: 1px solid blue; */
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;

    gap: 20px;
    text-decoration: none;
    
}
.nav-list a{
    text-decoration: none;
    font-size: 20px;
  
}
.text-color-1 {
     color: #8987A1;
}
.nav-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    font-size: 20px;
   
}
.nav-cart a {
    text-decoration: none;
}


.banner {
    /* border: 1px solid black; */
    display: flex;
    /* width: 1400px; */
    justify-content:space-between;
    height: auto;
    align-items: center;
      max-width: 1200px;
    margin: 20px auto;
  
    margin-bottom: 100px;
    

}
.banner-container {
    /* border: 1px solid red; */
    width: 100%;
}
.banner-img {
    max-width: 100%;
    height: auto;
}
.banner-title {
    font-size: 40px;
    
}
.plants-container {
   /* border: 1px solid black; */
   margin: 0 auto;
   padding: 0 0;
   
}
.section-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}
.plant-pera {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 0;
}
.plant-card {
    /* border: 1px solid black; */
  margin: 20px auto;

}
.plants-card-container {
 /* border: 1px solid red; */
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 margin: 20px auto;
 gap: 20px;


}

.plants-card-container img {
    width: 100%;
    height: auto;

}
.btn-primary {
    background-color: #E95A08;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
}
.btn-primary:hover {
    background-color: red;
   
}
.h-class {
    text-align: center;
   margin: 8px auto;

}
.plants-section {
    /* border: 1px solid black; */
      max-width: 1200px;
    margin: 20px auto;
}
.head {
    font-weight: 300;
    
}

.flower-store-section{
    /* border: 1px solid red; */

    margin: 200px auto;
 
    gap: 100px;
     position: relative;
     max-width: 1140px;
      height: auto;
      display: flex;
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
   
}
.plant {
    font-size: 60px;
}

.flower-list {

   list-style-type: disc;
 margin: 20px auto;
  font-size: 20px;
 
}
.text-color-2 {
    color:#6B7280;
}

.flower-img {
  position: relative;
  width: 100%;
  max-width: 570px; 
}

.trusted-badge {
  position: absolute;
  border-radius: 50%;
  top: 0; 
  right: -2px; 
  transform: translate(50%, -50%);
  width: 300px;
 
  z-index: 10;
}
.card-container {
    text-align: center;
    margin: 10px auto;
    max-width: 1200px;
  
}
.card {
    font-size: 40px;
}
.card-description{
    font-size: 20px;
    padding: 0 300px;
}
.promo-card {
  
      margin: 10px auto;
      max-width: 1200px;
     
    display: flex;
    gap: 20px;
    

}
.promo-left {
    display: flex;
    flex-direction: column;
   gap: 20px;
      flex: 1;
}
.promo-text1 {
  
   background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('../assets/deal-bloom.png');
    font-size: 25px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    color: white;
    height: 205px;
    border-radius: 14px;
    background-size: cover;
  
}
.promo-text1 a, .promo-text2 a ,.promo-text3 a {
    color: white;
    font-size: 20px;
}
.promo-text2 {
      background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('../assets/deal-ana.png');
    font-size: 25px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    color: white;
    height: 205px;
    border-radius: 14px;
    background-size: cover;
}
.promo-text3 {
         background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('../assets/deal-zabo.png');
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: cover;
     height: 430px;
    border-radius: 14px;
       display: flex;
       color: white;
       flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.promo-right {
    flex: 2;
   
}
/* join sec css */
.join-section {
    background-image: url('../assets/news-letter-bg.png');
    padding: 100px 0;
 background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 50px;
}
.join-section-container{
   
    margin: 100px auto;
    max-width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-field {

    display: flex;
    flex-direction: row;
    align-items: center;
      width: 100%;
      
    
}
#join-section-input {
    padding: 10px ;
    width: 75%;
   
}
.btn {
    background-color: #E95A08;
    padding: 10px;
    color: #f9f9f9;
    border: none;
     width: 25%;

}
.title {
    font-size: 30px;
    color: #f9f9f9;
}
.footer-container {
 
    display: flex;
 
   justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
}
footer ul li {
   
    list-style: none;
    line-height: 2;
}
.icon-container img {
    width: 36px;
    height: 36px;
    
}
.icon-container {
    display: flex;
  gap: 24px;

    
}
.footer-div-1, .footer-div-2, .footer-div-3, .icon-container{
    flex: 1;
}
/* nav-bar responsive */
@media screen and (max-width: 576px){
   
    .nav-list, .trusted-badge {
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-image, .flow-image {
        width: 100%;
    }
    .banner-container {
        width: 100%;
    }
    .plants-section {
        flex-direction: column;
    }
    .plants-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .flower-store-section {
        flex-direction: column;
        align-items: center;

    }
    .flower-div {
        padding:0 20px;
    }
    .plant {
        font-size: 24px;
    }
    .card-description {
        font-size: 14px;
        padding: 0;
    }
    .promo-card {
        flex-direction: column;
        align-items: center;
        
    }
    .promo-left, .promo-right {
        width: 100%;
        flex: 1;
    }
    .promo-text3, .promo-text1, .promo-text2 {
        height: auto;
        padding: 20px;
        text-align: center;
    }
    .join-section {
     
        padding: 30px 20px;
    }
    .footer-container {
        flex-direction: column;
        padding: 20px;
    }
   

}
